<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventMaster">

        <!-- Make Profile the launcher while you test it -->
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Keep other activities, but WITHOUT launcher filters -->
        <activity android:name=".ui.profile.EditProfileActivity" />
        <activity android:name=".ui.admin.AdminWelcomeActivity" />
        <activity android:name=".ui.admin.AdminBrowseActivity" />
        <activity android:name=".ui.admin.profiles.BrowseOrganizersActivity" />
        <activity android:name=".ui.admin.profiles.BrowseEntrantsActivity" />
        <activity android:name=".ui.admin.profiles.AdminProfileDetailActivity" />
    </application>

</manifest>
